<?php
# Application.php	the global definitions used by all modules in the application
# Created	2026-07-08 by Dave Henderson (support@cliquesoft.org)
# Updated	2026-07-09 by Dave Henderson (support@cliquesoft.org)

# Non-editable Definitions
define('PROJECT','dittodata');

# Directory Definitions
$_sDirLogs='./_logs';

# Log Definitions
$_sLogEmail='email.log';

# Operation Definitions

# Security Definitions

# URI Definitions
$_sUriProject='https://domain.com/';

# Email Definitions
$_sAlertsName="noreply team";
$_sAlertsEmail='noreply@domain.com';
$_sContactName="contact name";
$_sContactEmail='contact@domain.com';
$_sSupportName="support team";
$_sSupportEmail='support@domain.com';

# Maintenance Variables

# System Variables
?>
