<?php
# Application.php	the global definitions used by all modules in the application
# Created	2026-07-08 by Dave Henderson (support@cliquesoft.org)
# Updated	2026-07-09 by Dave Henderson (support@cliquesoft.org)

# Non-editable Definitions
define('PROJECT','dittodata');

# Directory Definitions
$_sDirData='../data';
$_sDirCron=$_sDirData.'/_cron';
$_sDirLogs=$_sDirData.'/_logs';
$_sDirMail=$_sDirData.'/_mail';
$_sDirTemp='../temp';
$_sDirVrfy=$_sDirData.'/_verify';

# Log Definitions
$_sLogEmail='email.log';
$_sLogScript=SCRIPT.'.log';
$_sLogModule=MODULE.'.log';
$_sLogProject=PROJECT.'.log';

# Operation Definitions
#$_sInterface='pro';
#$_bHostedService=false;
#$_sUpdates='automatic';
#$_sInstall='manual';

# Security Definitions
#$_nTimeout=0;
#$_nFailedAuth=5;
#$_bUseCaptchas=true;

# URI Definitions
$_sUriPayment='https://www.paypal.com/cgi-bin/webscr';
$_sUriProject='https://domain.com/';
$_sUriSocial='';

# Email Definitions
$_sAlertsName="noreply team";
$_sAlertsEmail='noreply@domain.com';
$_sContactName="contact name";
$_sContactEmail='contact@domain.com';
$_sSupportName="support team";
$_sSupportEmail='support@domain.com';
$_sSecurityName="security team";
$_sSecurityEmail='security@domain.com';

# Maintenance Variables
#$_bMaintenance=false;
#$_sMaintenance='2:30pm EST - down for 30 min';

# System Variables
$_bDebug=0;
$_LinkDB;
$__sInfo=array();
$__sMsgs=array();
$__sUser=array();
$__sNull=array();
?>
